.informer {
    position: fixed;
    top: 50px;
    right: 60px;
    width: 530px;
    padding: 30px;
    background: #fff;
    box-shadow: 0px 1px 4px rgba(25, 44, 62, 0.25), 0px 4px 6px rgba(25, 44, 62, 0.15);
    border-radius: 20px;
    box-sizing: border-box;
}

.informer-header {
    display: flex;
}

.informer-header__icon {
    width: 52px;
    height: 52px;
    margin-right: 15px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
}

.address-icon {
    background-color: #fff;
    background-image: url('../../assets/location.svg');
}

.initial-icon {
    background-color: #2D2E8D;
    background-image: url('../../assets/sign.svg');
}

.informer-header__title {
    margin: 0;
    font-size: 24px;
    line-height: 33px;
    color: #01050C;
}

.informer-header__subtitle {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    color: rgba(1, 5, 12, 0.6);
}

.informer-separator {
    height: 1px;
    width: 100%;
    margin: 15px 0;
    background-color: rgba(196, 196, 196, 0.4);
}

.informer-content {
    max-height: 400px;
    margin-right: -10px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 27px;
    color: #111;
    overflow: auto;
}

.informer-content__img {
    height: 290px;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f6f6f6;
}

@media only screen and (max-width : 768px) {
    .main .main__map {
        display: none;
    }

    .informer {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .informer-content {
        max-width: 100%;
    }
}